.header {
  position: relative;
  margin-left: calc(50% - 540px);
  height: 100px;
  width: 1080px;
  background: #ffffff;
}

.logo {
  position: absolute;
  left: 15px;
  top: 24px;
  width: 201px;
  cursor: 'pointer';
}
